<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140256184353-7h32sfm21fg78icmq8csdn7v6v1q43c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140256184353-7h32sfm21fg78icmq8csdn7v6v1q43c9</string>
	<key>API_KEY</key>
	<string>AIzaSyA0JljkhJqYyqJt_eA-_W9EY8oDBFz995w</string>
	<key>GCM_SENDER_ID</key>
	<string>140256184353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.badgercreations.recipevault</string>
	<key>PROJECT_ID</key>
	<string>recipevault-bg-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>recipevault-bg-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140256184353:ios:1f10acf3e05a6fbea43b60</string>
</dict>
</plist>